# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
audio-detect/
venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# OS files
.DS_Store

# Logs
*.log

# Models & outputs
*.h5
*.pkl
*.joblib
models/

# Docker
*.tar
